In [1]:
import json
import pandas as pd
import numpy as np
import math
from datetime import datetime

import psycopg2
from sqlalchemy import create_engine

## Data Collection

### Download data from
https://cloud.culture.tw/frontsite/trans/SearchShowAction.do?method=doFindTypeJOpenApi&category=all

### Load data

In [2]:
## Step1. Load all data
# Opening JSON file
f_all = open('all_activities.json')

# returns JSON object as 
# a dictionary, data, and a DataFrame, df
data_all = json.load(f_all)
df_all = pd.json_normalize(data_all)


# Closing file
f_all.close()

# add a new column to mention the dataset it is from
# df_all['dataset'] = pd.Series([0]).repeat(df_all.shape[0]).values

## Data Cleaning

In [3]:
# Step1.1. drop NaN
print("The shape of original dataframe:", df_all.shape)

# pick only 15 categories
# {1:'音樂', 2:'戲劇', 3:'舞蹈', 4:'親子', 5:'獨立音樂', 6:'展覽', 7:'講座', 8:'電影', 11:'綜藝', 13:'競賽', 14:'徵選', 15:'其他', 17:'演唱會', 19:'研習課程', 200:'閱讀'}

codes = {1:'music', 2:'theater', 3:'dance', 4:'parent-child', 5:'indie-music', 6:'exhibition', 7:'seminar', 8:'movie', 11:'variety-show', 13:'competition', 14:'audition', 15:'other', 17:'concert', 19:'training', 200:'book-club'}
df_all['category']= df_all['category'].apply(lambda x: codes[int(x)] if (int(x) in codes.keys()) else float("NaN"))

# check NaN
print(df_all.isna().sum())

# drop NaN row
df_all.dropna(subset = ["category"], inplace=True)
print("The shape of current dataframe:", df_all.shape)

The shape of original dataframe: (1450, 21)
version                   0
UID                       0
title                     0
category                 22
showInfo                  0
showUnit                  0
discountInfo              0
descriptionFilterHtml     0
imageUrl                  0
masterUnit                0
subUnit                   0
supportUnit               0
otherUnit                 0
webSales                  0
sourceWebPromote          0
comment                   0
editModifyDate            0
sourceWebName             0
startDate                 0
endDate                   0
hitRate                   0
dtype: int64
The shape of current dataframe: (1428, 21)

### duplicated data

In [4]:
# Step1.2. check duplicated data
print("The shape of original dataframe:", df_all.shape)
print("duplicated row number (PK = UID):", df_all.duplicated(subset=['UID']).sum())
print("duplicated row number (PK = (UID, category)): ", df_all.duplicated(subset=['UID', 'category']).sum())

# create a new table, df_output_category
# category = {1:'音樂', 2:'戲劇', 3:'舞蹈', 4:'親子', 5:'獨立音樂', 6:'展覽', 7:'講座', 8:'電影', 11:'綜藝', 13:'競賽', 14:'徵選', 15:'其他', 17:'演唱會', 19:'研習課程', 200:'閱讀'}
df_output_category = df_all[['UID', 'category']]

# drop duplicated row
df_all = df_all.drop_duplicates(subset=['UID'])
print("The shape of current dataframe:", df_all.shape)

The shape of original dataframe: (1428, 21)
duplicated row number (PK = UID): 59
duplicated row number (PK = (UID, category)):  0
The shape of current dataframe: (1369, 21)

### column by column

In [5]:
# Step2.1. "UID"

# create the second table, df_output
df_output = pd.DataFrame(df_all["UID"])
print("The shape of current output dataframe:", df_output.shape)

The shape of current output dataframe: (1369, 1)

In [6]:
# Step2.2. "title", "descriptionFilterHtml"
column_names = ["title", "descriptionFilterHtml"]

# transform the String data to useful numerical data
for column_name in column_names:
    new_column_name = column_name+"Length"
    df_output[new_column_name] = df_all[column_name].apply(lambda x: len(x))
print("The shape of current output dataframe:", df_output.shape)

The shape of current output dataframe: (1369, 3)

In [7]:
# Step2.3. "hitRate"
df_output["hitRate"] = pd.DataFrame(df_all["hitRate"])
print("The shape of current output dataframe:", df_output.shape)

The shape of current output dataframe: (1369, 4)

In [8]:
# Step2.4. "showInfo"
df_show = pd.DataFrame()
df_output_show = pd.DataFrame()

test = df_all["showInfo"]
for index, activity in df_all.iterrows():
    # create the third table, df_output_show
    df_temp = pd.DataFrame(activity["showInfo"])
    df_temp['activity_UID'] = pd.Series(activity['UID']).repeat(df_temp.shape[0]).values
    df_show = df_show.append(df_temp)
    
df_output_show['activity_UID'] = df_show['activity_UID']

In [9]:
# Step2.5. "showUnit", "discountInfo", "webSales", "sourceWebPromote"

column_names = ["showUnit", "discountInfo", "webSales", "sourceWebPromote"]

# transform the String data to useful catigorical data with (1, 0) 2 catigories
for column_name in column_names:
    df_output[column_name] = df_all[column_name].apply(lambda x: 0 if x=="" else 1)
print("The shape of current output dataframe:", df_output.shape)

The shape of current output dataframe: (1369, 8)

In [10]:
# Step2.6. "masterUnit", "subUnit", "supportUnit", "otherUnit"
column_names = ["masterUnit", "subUnit", "supportUnit", "otherUnit"]

# transform the String data to useful numerical data
for column_name in column_names:
    new_column_name = column_name+"Num"
    df_output[new_column_name] = df_all[column_name].apply(lambda x: 0 if len(x)==0 else len(x))

print("The shape of current output dataframe:", df_output.shape)

The shape of current output dataframe: (1369, 12)

In [11]:
# Step2.7. "startDate", "endDate" tobe: error year
# transform start and end date to a single column, duration, a numerical data
date_format = "%Y/%m/%d"

start = df_all["startDate"].apply(lambda x: datetime.strptime(x, date_format))
end = df_all["endDate"].apply(lambda x: datetime.strptime(x, date_format))
duration = end - start
df_output["duration"] = duration.apply(lambda x: x.days+1)

# create a new table, df_output_date TOBE

print("The shape of final output dataframe:", df_output.shape)

The shape of final output dataframe: (1369, 13)

## column by column inside "showInfo"

In [12]:
# Step2.8. "location" in "showInfo" (continue from Step2.4.)

county_names = ["臺北市", "新北市", "桃園市", "臺中市", "臺南市", "高雄市", "新竹縣", "苗栗縣", "彰化縣", "南投縣", "雲林縣", "嘉義縣", "屏東縣", "宜蘭縣", "花蓮縣", "臺東縣", "澎湖縣", "金門縣", "連江縣", "基隆市", "新竹市", "嘉義市"]

# transform location to useful String data
df_output_show['county'] = df_show['location']
for county_name in county_names:
    df_output_show['county'] = df_output_show['county'].apply(lambda x: county_name if county_name in x else x)
df_output_show['county'] = df_output_show['county'].apply(lambda x: "" if x not in county_names else x)

In [13]:
# Step2.9. "locationName" in "showInfo" (continue from Step2.4.)
df_output_show['online'] = df_show['locationName']

# transform the String data to useful catigorical data
df_output_show['online'] = df_output_show['online'].apply(lambda x: 1 if "線上" in x else 0)

# todo: no county and not online~?
# df_output_show['online'] = df_output_show.apply(lambda x: 2 if x['county']=="" else x['online'])

In [14]:
# Step2.10. "onSales"
# transform String to int catigorical data
df_output_show['onSales'] = df_show['onSales'].apply(lambda x: 1 if x=="Y" else 0)

In [15]:
# Step2.11. "price"
df_output_show['priceByAge'] = df_show['price'].apply(lambda x: 1 if "歲" in x else 0)
df_output_show['priceFree'] = df_show['price'].apply(lambda x: 1 if "免費" in x or x=="" else 0)

# # TOBE: parse the pricing rules

In [16]:
# Step2.12. transform the "showInfo" into activity
df_temp = df_output_show.groupby('activity_UID')
df_as_group = df_temp[['online', 'onSales', 'priceByAge', 'priceFree']].sum()

df_as_group = pd.merge(df_as_group, df_temp[['county']].nunique(),
                       left_on='activity_UID', right_on='activity_UID')
df_as_group = df_as_group.assign(showNum = df_output_show.groupby('activity_UID').size())

df_output = pd.merge(df_output, df_as_group, 
                     left_on='UID', right_on='activity_UID')
print(df_output.isna().sum())

UID                            0
titleLength                    0
descriptionFilterHtmlLength    0
hitRate                        0
showUnit                       0
discountInfo                   0
webSales                       0
sourceWebPromote               0
masterUnitNum                  0
subUnitNum                     0
supportUnitNum                 0
otherUnitNum                   0
duration                       0
online                         0
onSales                        0
priceByAge                     0
priceFree                      0
county                         0
showNum                        0
dtype: int64

## From DataFrame to PostgreSQL

In [17]:
# Step3.1
# connect to PostgrSQL db
 
# establish connections
conn_string = 'postgresql://postgres:00000000@127.0.0.1/postgres'
db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
  database="postgres",
  user='postgres', 
  password='00000000', 
  host='127.0.0.1', 
  port= '5432'
)
  
conn1.autocommit = True

# cur will be used to run the query
cur = conn1.cursor()

In [18]:
def create_staging_table_(cursor, sql):
    cursor.execute(sql)

In [19]:
def fcn(df,table,cur):

    if len(df) > 0:
        df_columns = list(df)
        # create (col1,col2,...)
        columns = ",".join(df_columns)

        # create VALUES('%s', '%s",...) one '%s' per column
        values = "VALUES({})".format(",".join(["%s" for _ in df_columns])) 

        #create INSERT INTO table (columns) VALUES('%s',...)
        insert_stmt = "INSERT INTO {} ({}) {}".format(table,columns,values)
        cur.execute("truncate " + table + ";")  # avoiding uploading duplicate data!
        cur = conn1.cursor()
        psycopg2.extras.execute_batch(cur, insert_stmt, df.values)
    conn1.commit()

In [21]:
# creating the first table: activities
sql_a = """
    DROP TABLE IF EXISTS activityDB;
    CREATE UNLOGGED TABLE activityDB (
        UID                         TEXT PRIMARY KEY,
        titleLength                 INT,
        descriptionFilterHtmlLength INT,
        hitRate                     INT,
        showUnit                    INT,
        discountInfo                INT,
        webSales                    INT,
        sourceWebPromote            INT,
        masterUnitNum               INT,
        subUnitNum                  INT,
        supportUnitNum              INT,
        otherUnitNum                INT,
        duration                    INT,
        online                      INT,
        onSales                     INT,
        priceByAge                  INT,
        priceFree                   INT,
        county                      INT,
        showNum                     INT
);"""
# sending the table to psql
with conn1.cursor() as cursor:
    create_staging_table_(cursor, sql_a)

# Convert Df to List(Dict()) : then sending from Python to PSQL
fcn(df_output,'activityDB',cur)

In [22]:
# creating the second table: catigories
sql_c = """
    DROP TABLE IF EXISTS categoryDB;
    CREATE UNLOGGED TABLE categoryDB (
        UID                         TEXT,
        category                    TEXT,
        PRIMARY KEY (UID, category),
        FOREIGN KEY (UID)
            REFERENCES activityDB (UID)
);"""
# sending the table to psql
with conn1.cursor() as cursor:
    create_staging_table_(cursor, sql_c)

# Convert Df to List(Dict()) : then sending from Python to PSQL
fcn(df_output_category,'categoryDB',cur)

ForeignKeyViolation: insert or update on table "categorydb" violates foreign key constraint "categorydb_uid_fkey"
DETAIL:  Key (uid)=(62580030d083a31fec0aef4d) is not present in table "activitydb".

In [23]:
# creating the third table: shows
sql_s = """
    DROP TABLE IF EXISTS showDB;
    CREATE UNLOGGED TABLE showDB (
        show_id         serial PRIMARY KEY,
        activity_UID    TEXT,
        county          TEXT,
        online          INT,
        onSales         INT,
        priceByAge      INT,
        priceFree       INT,
        FOREIGN KEY (activity_UID)
            REFERENCES activityDB (UID)

);"""
# sending the table to psql
with conn1.cursor() as cursor:
    create_staging_table_(cursor, sql_s)

# Convert Df to List(Dict()) : then sending from Python to PSQL
fcn(df_output_show,'showDB',cur)

In [24]:
cur.close()
conn1.close()